# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Optional local testing stuff
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Because this is a zero-build static site, there aren't many ignore rules needed.
